@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #f3f3f3;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 24px 16px;
}

.main {
    font-weight: bold;
    background-image: url("../asset/background.png");
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.liner {
    border: 1px solid red;
}
